/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root {
	--text-color-second: rgb(255, 255, 255);
	--text-color-third: rgb(255, 255, 255);
}
.wrapper {
	background: url(Asset/rainbow-vortex.svg);
	background-size: cover;
}
/* ----- BASE ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html {
	scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
	position: relative;
	display: inline-block;
	margin: 15px;
	padding: 15px 30px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #000000;
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 2px solid #ffeb33;
	border-radius: 10px;
	box-shadow: inset 0 0 0 0 #e63434;
}

.btn:hover {
	color: white;
	box-shadow: inset 0 -100px 0 0 #fff23c;
}

.btn:active {
	border-color: teal;
	transform: scale(0.9);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
	font-size: 16px;
}

/* ------- BASE -------- */

.container {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

/* ----- NAVIGATION BAR ----- */
.navbar-expand-lg {
	background-color: #265073;
}

@media (max-width: 991px) {
	.sidebar {
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(10px);
	}
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
	padding-inline: 10vw;
}

.container {
	overflow: auto;
	display: flex;
	scroll-snap-type: x mandatory;
	width: 90%;
	margin: 0 auto;
	padding: 0 15px;
}

/* ----- FEATURED BOX ----- */
.featured-box {
	position: relative;
	display: flex;
	height: 100vh;
	min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 80vh;
	flex-direction: column;
	width: 50%;
	padding-left: 20px;
}
.featured-text-card span {
	background: var(--third-color);
	color: var(--color-white);
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 5px;
}
.featured-name {
	font-size: 50px;
	font-weight: 600;
	color: var(--text-color-second);
	margin-block: 20px;
}
.typedText {
	text-transform: capitalize;
	color: var(--text-color-third);
}
.featured-text-info {
	font-size: 15px;
	margin-bottom: 30px;
	color: var(--text-color-second);
}
.featured-text-btn {
	display: flex;
	gap: 20px;
}
.featured-text-btn > .blue-btn {
	background: #ffff;
	color: #000024;
}
.featured-text-btn > .blue-btn:hover {
	background: #000000;
}
.social_icons {
	display: flex;
	margin-top: 5em;
	gap: 30px;
}

.uil-github-alt,
.uil-linkedin-alt,
.uil-whatsapp,
.uil-instagram {
	color: #ffff;
}

.uil-github-alt:hover,
.uil-linkedin-alt:hover,
.uil-whatsapp:hover,
.uil-instagram:hover {
	color: #e95793;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #ffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.icon:hover {
	color: #e95793;
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
	display: flex;
	justify-content: right;
	align-content: center;
	min-height: 80vh;
	width: 50%;
}
.image {
	margin: auto 0;
	width: 380px;
	height: 380px;
	animation: imgFloat 7s ease-in-out infinite;
}
.image img {
	width: 380px;
	height: 380px;
	object-fit: contain;
}
@keyframes imgFloat {
	50% {
		transform: translateY(10px);
	}
}
.scroll-btn {
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	gap: 5px;
	text-decoration: none;
	color: var(--text-color-second);
	background: var(--color-white);
	border-radius: 30px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i {
	font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section {
	padding-block: 5em;
}
.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 50px;
}
.col {
	display: flex;
	width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
	text-align: center;
	margin-bottom: 5em;
}
.top-header h1 {
	font-weight: 600;
	color: #ffff;
	margin-bottom: 20px;
	margin-top: 11px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	color: var(--text-color-second);
	margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-block: 30px 70px;
	padding-inline: 20px;
	width: 100%;
	background: var(--color-white);
	box-shadow: rgba(197, 197, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border-radius: 25px;
}
.about-info p {
	text-align: center;
	font-size: 15px;
	color: #ffffff;
}
.about-btn button {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: var(--first-color);
	color: var(--color-white);
	border-radius: 30px;
}
.about-btn button:hover {
	background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
	margin: 10px;
}
.skills-header {
	margin-bottom: 30px;
}
.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.skills-list span {
	font-size: 14px;
	background: #ffffff;
	color: var(--color-white);
	padding: 2px 10px;
	border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.project-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
	height: 250px;
	background: var(--color-white);
	border-radius: 20px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	overflow: hidden;
}

.project-box label {
	font-size: 15px;
	color: #777;
}
.project-box::after,
.contact-info::after {
	content: '';
	position: absolute;
	bottom: -100%;
	background: #ffff;
	width: 100%;
	height: 100%;
	transition: 0.4s;
	z-index: 1;
}

/* ----- CONTACT BOX ----- */
.contact-info {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	width: 100%;
	height: 315px;
	background: #ffff;
	border-radius: 10px;
	box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
	overflow: hidden;
}
.contact-info > h2 {
	color: var(--color-white);
	margin-bottom: 20px;
}
.contact-info > p {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-white);
	margin-block: 5px;
}
.contact-info p > i {
	font-size: 18px;
}
.contact-info::after {
	background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
	color: #777;
	z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}
.form-inputs {
	display: flex;
	gap: 10px;
	width: 100%;
}
.input-group {
	position: relative;
}

.input {
	border: solid 1.5px #9e9e9e;
	border-radius: 1rem;
	background: none;
	padding: 1rem;
	font-size: 1rem;
	color: #f5f5f5;
	transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
	position: absolute;
	left: 15px;
	color: #ffffff;
	pointer-events: none;
	transform: translateY(1rem);
	transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
	outline: none;
	border: 1.5px solid #ffffff;
}

.input:focus ~ label,
input:valid ~ label {
	color: #ffff;
}

textarea {
	width: 100%;
	height: 250px;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 10px;
	padding: 15px 20px;
	outline: none;
	resize: none;
}
.form-button > .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--second-color);
	color: var(--color-white);
}
.form-button > .btn:hover {
	background: #00b5e7;
}
.form-button i {
	font-size: 18px;
	rotate: -45deg;
}

/* ----- FOOTER BOX ----- */

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
	.featured-text {
		padding: 0;
	}
	.image,
	.image img {
		width: 320px;
		height: 320px;
	}
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
	.nav-button {
		display: none;
	}
	.nav-menu.responsive {
		left: 0;
	}
	.nav-menu {
		position: fixed;
		top: 80px;
		left: -100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(20px);
		width: 100%;
		min-height: 450px;
		height: 90vh;
		transition: 0.3s;
	}
	.nav_menu_list {
		flex-direction: column;
	}
	.nav-menu-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.featured-box {
		flex-direction: column;
		justify-content: center;
		max-height: 100vh;
	}
	.featured-text {
		width: 100%;
		order: 2;
		justify-content: center;
		align-content: flex-start;
		min-height: 60vh;
	}
	.social_icons {
		margin-top: 2em;
	}
	.featured-image {
		order: 1;
		justify-content: center;
		min-height: 150px;
		width: 100%;
		margin-top: 65px;
	}
	.image,
	.image img {
		width: 150px;
		height: 150px;
	}
	.row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 50px;
	}
	.col {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.about-info,
	.contact-info {
		width: 100%;
	}
	.project-container {
		justify-content: center;
	}
	.project-box {
		width: 80%;
	}
}

/* FOOTER */
.text-center.p-3 {
	background-color: #00b5e7;
}
.container1 {
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin: 40px auto;
	background-color: #000024;
	border-radius: 10px;
	padding: 40px 40px;
}

.left-column {
	width: 45%;
	padding: 10px;
}

.right-column {
	width: 45%;
	padding: 20px;
	background-color: #265073;
	border-radius: 10px;
}
.contact {
	color: #ffff;
}

h2 {
	text-align: center;
}
h2,
label {
	color: #ffff;
}
.contact h2 {
	text-align: center;
	font-size: 32px;
	margin-top: 10px;
	color: #ffffff;
}
textarea {
	height: 100px;
}

button {
	display: inline-block;
	padding: 12px 24px;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	background-color: #e7b100;
	overflow: hidden;
	font-size: 19px;
	color: black;
	z-index: 1;
}

button:before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(255, 40, 40, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

button:after {
	content: '';
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #39bda7;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

button:hover {
	color: #ffffff;
	border: 1px solid #39bda7;
}

button:hover:before {
	top: -35%;
	background-color: #39bda7;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

button:hover:after {
	top: -45%;
	background-color: #39bda7;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #ffff;
}
label {
	display: block;
	margin-top: 15px;
	color: #ffff;
}

input[type='text'],
input[type='Email'],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ffffff;
	outline-color: e3d9bf;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.content {
	text-align: center;
	padding: 25px;
}

.content h1 {
	font-size: 32px;
	color: #ffff;
}

.content p {
	margin: 8px 0px;
	font-size: 18px;
	line-height: 1.5;
}

.nav-link {
	display: flex;
	flex-direction: column;
	color: #ffff;
}

@media screen and (max-width: 768px) {
	.container1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.left-column {
		width: 85%;
	}

	.right-column {
		width: 85%;
		margin-top: 25px;
	}
	.contact {
		display: flex;
		flex-direction: column;
	}
}
/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */
@media only screen and (max-width: 540px) {
	.featured-name {
		font-size: 40px;
	}
	.project-box {
		width: 100%;
	}
	.form-inputs {
		flex-direction: column;
	}
	.input-field {
		width: 100%;
	}
	.featured-box {
		flex-direction: column;
		justify-content: center;
		max-height: 100vh;
	}
}
